# test dataset

In [3]:
# The code was removed by Watson Studio for sharing.

,30-Apr-20,INT,,0.03,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,28-Apr-20,SI,,1650,NaN,NaN,NaN
1,22-Apr-20,ITR,,100,120-202112-5 : I-BANK,NaN,NaN
2,21-Apr-20,POS,53.9,,3153172,THE UDDER PANCAKE (KILAT),NETS
3,20-Apr-20,ITR,,100,120-202112-5 : I-BANK,NaN,NaN
4,18-Apr-20,POS,9.9,,3153172,THE UDDER PANCAKE (KILAT),NETS